body {
   background-image: url("https://images8.alphacoders.com/679/thumb-1920-679478.jpg");
   height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

h1 {
  color: #2D112A;
  text-align: center;
  font-size: 150px;
  font-weight: 190px;
  font-family: arial;
padding-top: 50px;
padding-bottom: -100px;
}


h2 {
  color: #2D112A;
  text-align: center;
  font-size: 53px;
  font-weight: 60px;
  font-family: arial;
  top: -50px;
}

h3 {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-family: arial;

}


div-test{
  height: 50px;
  width: 50%;
  background-color: red;
  top:-40px;
}



p {
  font-family: arial;
  font-size: 20px;
}




            #leftbox { 
            	
                float:left;  
           padding-left:20px;
                           width:50%; 
                height:20px; 
            } 
            #middlebox{ 
                float:left;  
           
                width:38%; 
                height:70px; 
            } 
            #rightbox{ 
                float:right; 
            
                width:0%; 
                height:20px; 
            } 


          body {
  overflow: hidden; /* Hide scrollbars */
}


